.create-user-card {
    background-color: var(--color-bg-secondary-light);
  }
  
  .create-user-title {
    color: var(--color-text-primary-light);
  }
  
  .create-user-text {
    color: var(--color-text-secondary-light);
  }

  .text-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  
  .text-input label {
    color: var(--color-text-secondary-light);
  }
  
  .create-user-button {
      background-color: var(--color-btn-primary-light);
      color: var(--color-btn-secondary-light);
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    }
    
    .create-user-button:hover {
      background-color: var(--color-btn-primary-light-hover);
      color: var(--color-btn-secondary-light-hover);
    }
  
    .create-user-button:active {
      transform: scale(0.95);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  
  
  
  @media (prefers-color-scheme: dark) {
    .create-user-card {
      background-color: var(--color-bg-secondary-dark);
    }
  
    .create-user-title {
      color: var(--color-text-primary-dark);
    }
  
    .create-user-text {
      color: var(--color-text-secondary-dark);
    }
    .text-input label {
      color: var(--color-text-secondary-dark);
    }
  
    .create-user-button{
      background-color: var(--color-btn-primary-dark);
      color: var(--color-btn-secondary-dark);
    }
  
    .create-user-button:hover {
      background-color: var(--color-btn-primary-dark-hover);
      color: var(--color-btn-secondary-dark-hover);
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      }
  }