.signup-card {
    background-color: var(--color-bg-secondary-light);
  }
  
  .signup-title {
    color: var(--color-text-primary-light);
  }
  
  .signup-text {
    color: var(--color-text-secondary-light);
  }
  
  .text-input label {
    color: var(--color-text-secondary-light);
  }
  
  .signup-button {
      background-color: var(--color-btn-primary-light);
      color: var(--color-btn-secondary-light);
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    }
    
    .signup-button:hover {
      background-color: var(--color-btn-primary-light-hover);
      color: var(--color-btn-secondary-light-hover);
    }
  
    .signup-button:active {
      transform: scale(0.95);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  
  
  
  @media (prefers-color-scheme: dark) {
    .signup-card {
      background-color: var(--color-bg-secondary-dark);
    }
  
    .signup-title {
      color: var(--color-text-primary-dark);
    }
  
    .signup-text {
      color: var(--color-text-secondary-dark);
    }
    .text-input label {
      color: var(--color-text-secondary-dark);
    }
  
    .signup-button{
      background-color: var(--color-btn-primary-dark);
      color: var(--color-btn-secondary-dark);
    }
  
    .signup-button:hover {
      background-color: var(--color-btn-primary-dark-hover);
      color: var(--color-btn-secondary-dark-hover);
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
      }
  }